.fade-enter,
.fade-appear {
  opacity: 0;
}

.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transition: opacity 250ms;
}

.fade-exit {
  opacity: 1;
  transition: opacity 250ms;
}

.fade-exit-active {
  opacity: 0;
}

.slide-enter,
.slide-appear {
  transform: translateX(100%);
}

.slide-enter-active,
.slide-appear-active {
  transform: translateX(0);
  transition: transform 250ms;
}

.slide-exit {
  transform: translateX(0);
  transition: transform 250ms;
}

.slide-exit-active {
  transform: translateX(100%);
}
