.TaskEditor {
  padding: 20px 15px;
  border: 1px solid rgba(10, 10, 10, 0.1);
  border-radius: 4px;
}

.TaskEditor-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #279af1;
  color: #fff;
}

.TaskEditor-btn:hover,
.TaskEditor-btn:focus {
  outline: none;
  cursor: pointer;
  background-color: #52aef4;
}
