.TaskList {
  padding: 20px 15px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  border-radius: 4px;
  list-style: none;
}

.TaskList-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.TaskList-item:not(:last-child) {
  border-bottom: 1px solid #e6e1c5;
}

.TaskList-text {
  padding-right: 18px;
  font-size: 18px;
}

.TaskList-actions {
  display: flex;
  align-items: center;
}

.TaskList-actions > *:not(:last-child) {
  margin-right: 10px;
}

.TaskList-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #279af1;
  color: #fff;
}

.TaskList-btn:hover,
.TaskList-btn:focus {
  outline: none;
  cursor: pointer;
  background-color: #52aef4;
}

.TaskList-btn_delete {
  background-color: #fc7753;
}

.TaskList-btn_delete:hover,
.TaskList-btn_delete:focus {
  background-color: #fc6136;
}
